$bgColor: #EDF6FB;
$primary: #102333;
$secondary: #f66e4c;
$tertirary: #91aabf;
$headerBg: $primary;
$footerBg: $primary;

$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpointXl: 1200px;

